*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    justify-content: space-between;
    
}

/* header style */

header{
    background-color: aqua;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;    
}

.navbar{
    
    list-style-type: none;
    display: flex;
    gap:2.5em;
    width: 80%;
}

.link{
    text-decoration: none;
    color: blue;
    background-color: yellow;
    cursor: pointer;
    border: 3px solid blue;
    border-radius: 20px;
    padding: 9px;
    align-items: flex-end;
    
    
}

.logobox{
    max-width: 12vh;
}
.logo{
    object-fit: contain;
    max-width: 99%;
}



/* main */

main{
    background-color: pink;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.title h1{
    color: yellow;
    /* font-style: italic; */
    width: 50%;
    text-align: center;
    font-size: 50px;   
}

h2{
    color: rgb(39, 208, 81);
    /* border: 2px solid white; */
    width: 50%;
    text-align: center;
    font-size: 35px;
}

h3{
    
    color: yellow;
    width: 50%;
    text-align: center;
    font-size: 30px;
}


.bannerbox{
    width: 100%;
    height: 20vh;
    border: 2px solid white;
}
.banner{
    width:100%;
    height: 100%;
    object-fit:initial;
 
}

/* contenedor y imagen */


.container1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40vh;
}
.container1 .imgCon1{
    width: 30%;
    height: 100%;
}
.container1 .textCon1{
    width: 30%;
    font-size: 180%;
    color: blue;
}
.container1 .img1{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vh;
}
.container2 .imgCon2{
    width: 30%;
    height: 100%;
}
.container2 .textCon2{
    width: 30%;
    font-size: 180%;
    color: blue;
}
.container2 .img2{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.container3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vh;
}
.container3 .imgCon3{
    width: 30%;
    height: 100%;
}
.container3 .textCon3{
    width: 30%;
    font-size: 180%;
    color: blue;
}
.container3 .img3{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.container4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vh;
}
.container4 .imgCon4{
    width: 30%;
    height: 100%;
}
.container4 .textCon4{
    width: 30%;
    font-size: 180%;
    color: blue;
}
.container4 .img4{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.container5{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 45vh;
}
.container5 .imgCon5{
    width: 45%;
    height: 100%;
}
.container5 .textcon5{
    width: 100%;
    font-size: 180%;
    color: blue;text-align: center;
}
.container5 .img5{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.emailphone{
    width: 100%;
    display: flex;
    text-align: center;
    align-items:center;
    justify-content: space-around;
}
.email{
    color: red;
    font-size: 20px;
}
.phone{
    color: red;
    font-size: 20px;
}


/* esto es de la lista pag 4 */
    .list{
        margin: 13vh;
    }
    .list ol{
        list-style-type: decimal;
    }
    

/* footer */

footer{
    min-height: 5vh;
    background-color: yellow;
    color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}